@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --brand: #2850be;
    --brand-hover: #6880C3;
    --primary: #2c8e31;
    --secondary: #3b8ee9;
    --neutral-dark: #464033;
    --neutral-light: #AEAAA3;
}

body {
    background-color: #F9F9F9;
}

a {
    color: var(--neutral-dark);
    text-decoration:solid;
}

    a:hover {
        color: var(--brand-hover);
        text-decoration:underline;
    }

.navbar {
    background-color:var(--neutral-light);
    border-bottom: 2px solid var(--neutral-dark);
    background-size:cover;
    padding-left:1em;
}

.btn-primary {
    background-color: var(--brand);
    border-color: var(--brand);
}

    .btn-primary:hover {
        background-color: var(--brand-hover);
        border-color: var(--brand-hover);
    }

.btn-outline-primary {
    border-color:var(--brand);
    color: var(--brand);
}

    .btn-outline-primary:hover {
        background-color: var(--brand);
        border-color:var(--brand);
    }

.gird {
    display: grid;
    grid-template-columns: repeat(7, 150px);
    column-gap: 50px;
    row-gap: 25px;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }