<div class="navbar mb-5 shadow">
    <a class="navbar-brand" href="/">
        Home
    </a>
    <a class="navbar-brand" href="/day/@DateTime.Today.ToString("yyyy-MM-dd")">
        Today    
    </a>
</div>